<!--
On lage screen, it should be a 3 column display
User on the left, tweets in the middle, highlighted tweet on the right that also shows responses to it.
 -->

<% if signed_in? %>
  <div class="container mt-4">
    <div class="row justify-content-between">

      <div id="colum-profile" class="col-xs-12 col-md-6 col-lg-4">
        <div id="profile-card-box">
          <%= render 'shared/profile_box' %>
        </div>
        <div id="write-tweet-card">
          <%= render 'shared/write_tweet' %>
        </div>
      </div>

      <div id="column-tweets" class="col-xs-12 col-md-6 col-lg-4">
        <%= render 'shared/nav_pills' %>
      </div>

      <div id="colum-highlight" class="col-xs-12 col-md-6 col-lg-4 border">

      </div>
    </div>
  </div>
<% else %>
  <%= render 'shared/landing_page' %>
<% end %>
