<div class="card-profile">
  <div class="container">
  <div class="row m-2">
    <div class="avatar-profile">
      <%= link_to '#' do  %>
        <%= image_tag 'meintaipei.jpg' %>
      <% end %>
    </div>
    <div class="card-profile-info ml-2">
      <h3>Name</h3>
      <p>Following #</p>
      <p>Followers #</p>
      <p>Tweet #</p>
      <%= link_to "Follow Me", '#'  %>
    </div>
  </div>
  <div class="card-profile-bio border-top pt-2 pb-2">
    THIS IS WHERE A BIO WILL GO
    IT COULD BE OF SOME LENGTH
    OR IT COULD BE QUITE SHORT
  </div>
  </div>
</div>
