<!--
This will need to be generated with a loop over the data but below shall be the basic form the loop creates.
 -->

<div class="card-tweet">
  <div class="container">
    <div class="row p-2 mt-2 justify-content-around align-items-center">
      <div class="avatar-tweet">
        <%= link_to '#' do  %>
          <%= image_tag 'meintaipei.jpg' %>
        <% end %>
      </div>
      <%= link_to "#" do  %>
        <i class="fas fa-heart"></i>
      <% end %>
      <%= link_to "#" do  %>
        <i class="fas fa-shoe-prints"></i>
      <% end %>
    </div>
    <div class="card-tweet-tweet ml-2 border-top pt-2 pb-2">
      THIS IS WHERE SOME CONTENT FOR A TWEET WILL GO. IT WILL BE NO MORE THAN 140 CHARACTERS LONG. This text is about 140 characters long. Good..
    </div>
    <div class="card-tweet-stats border-top pt-2">
      <div class="d-flex justify-content-around">
        <p>Likes <strong>1</strong></p>
        <p>Replies <strong>1</strong></p>
        <p>Date <strong>3 day ago</strong></p>
      </div>
    </div>

  </div>

</div>
